<h2 id="title">Photoswipe Examples</h2>

<!-- example 1 -->
<button class="btn" {{action 'initGallery'}}>Open PhotoSwipe</button>

{{photo-swipe gallery=myGallery options=psOpts items=items}}

<br>

<!-- example 2 -->
<h3>Example when passing a block</h3>

{{#photo-swipe options=psTwoOpts}}

  {{#each model as |img|}}
    <a class="photo-item" href={{img.href}} data-width={{img.width}}
      data-height={{img.height}}>
      <img class="thumb" src={{img.href}} alt={{img.alt}}>
    </a>
  {{/each}}

{{/photo-swipe}}
